*~
*.swp
*.dia.autosave
/.cproject
/.project
/.settings/
MakeFile
Makefile
CMakeFiles/
CMakeCache.txt
*.cmake
src/game
src/server
src/test_suite
Testing
gear.cfg
*.obj
*.vcproj
*.user
*.sln
*.suo
*.ncb
*.db
